@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Lalezar&family=Open+Sans:wght@300;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
/* Start Varibels  */
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #212121;
  --secondary-color: #edf2fc;
}
/* End Varibels  */
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
  box-sizing: border-box;
}
section {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1c1c25;
}
section::before {
  content: "";
  position: absolute;
  right: 220px;
  bottom: -235px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(#f00, #f0f);
}
@media(max-width: 1400px){
  section::before{
    right: 140px; 
  }
}
@media(max-width: 1350px){
  section::before{
    right: 120px; 
  }
}
@media(max-width: 1300px){
  section::before{
    right: 100px; 
  }
}
@media(max-width: 1200px){
  section::before{
    right: 80px; 
  }
}
@media(max-width: 1100px){
  section::before{
    right: 15px; 
  }
}
@media(max-width: 1000px){
  section::before{
    display: none; 
  }
}
.card {
  position: absolute;
  width: 508px;
  height: 314px;
  transform-style: preserve-3d;
  perspective: 500px;
  max-width: 100%;
}
.card .face {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
  border-radius: 15px;
  backface-visibility: hidden;
  backdrop-filter: blur(10px);
  transform-style: preserve-3d;
  box-shadow: 0 15px 35px rgb(0, 0, 0.5);
}
.card:hover .face.front {
  transform: rotateY(180deg);
}
.card .face.back {
  transform: rotateY(180deg);
}
.card:hover .face.back {
  transform: rotateY(360deg);
}

.card .face.front::before {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  z-index: 100;
}
.card .face.front::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  z-index: 100;
}
.card .face.front .debit {
  position: absolute;
  left: 40px;
  top: 30px;
  color: #fff;
  font-weight: 500;
}
.card .face.front .bank-name {
  position: absolute;
  right: 40px;
  top: 25px;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
}
.card .face.front .chip {
  position: absolute;
  left: 50px;
  top: 80px;
  max-width: 64px;
}
.card .face.front .number {
  position: absolute;
  left: 40px;
  bottom: 130px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 18px;
  font-family: "Orbitron";
  text-shadow: 0 2px 1px #0005;
}
.card .face.front .valid {
  position: absolute;
  left: 40px;
  bottom: 90px;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  text-align: right;
}
.card .face.front .valid span:last-child {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}
.card .face.front .card-holder {
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
}
.card .face.back .blackbar {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 60px;
  background: #000;
}

.card .face.back .csstext {
  position: absolute;
  top: 120px;
  left: 30px;
}

.card .face.back .csstext h5 {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card .face.back .csstext .whitebar {
  position: relative;
  width: 400px;
  height: 40px;
  background: #fff;
  margin-top: 5px;
}

.card .face.back .csstext .ccv {
  position: relative;
  background: #ccc;
  width: 50px;
  height: 30px;
  font-weight: 600px;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -35px;
  left: 395px;
}

.card .face.back .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: #fff;
  font-size: 10px;
  line-height: 1.4em;
  font-weight: 300;
}
@media(max-width: 680px){
  .card .face.back .text{
    bottom: 10px;
  }
  .card .face.front .chip{
    left: 39px;
  }
  .card .face.front .number{
    letter-spacing: 2px;
  }
}


